appnope==0.1.4
asttokens==2.4.1
backcall==0.2.0
click==8.1.7
comm==0.2.2
debugpy==1.8.7
decorator==5.1.1
et_xmlfile==2.0.0
executing==2.1.0
importlib_metadata==8.5.0
ipykernel==6.29.5
ipython==8.12.3
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.4
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_echarts==0.1.14
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
nltk==3.9.1
numpy==1.24.4
openpyxl==3.1.5
packaging==24.1
pandas==2.0.3
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
platformdirs==4.3.6
prettytable==3.11.0
prompt_toolkit==3.0.48
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyecharts==2.0.6
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.2
pyzmq==26.2.0
regex==2024.9.11
simplejson==3.19.3
six==1.16.0
snownlp==0.12.3
stack-data==0.6.3
tornado==6.4.1
tqdm==4.66.6
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
wcwidth==0.2.13
zipp==3.20.2
